---
import GamesLy from '../layouts/GamesLayout.astro';
import Guide from '../components/Guide.astro';
import Game from '../components/Games.astro';
import Index from './index.astro';

const games = [
  { 
    image: '/assets/img/DarkSoul.jpg', 
    title: 'Dark Souls Remaster', 
    description: 'Dark Souls is a fantasy role-playing game, originally released in 2011 and remastered in 2018 by FromSoftware Inc. It is well renowned and infamous for being difficult and unforgiving in nature.' 
  },
  { 
	title: 'Elden Ring', 
	description: 'Is an action role-playing video game developed by FromSoftware and published by Bandai Namco Entertainment. The game is the result of a collaboration between director and designer Hidetaka Miyazaki and fantasy novelist George R. R. Martin', 
	image: '/assets/img/EldenRIng.jpeg'
    },
  { title: 'Sekiro', 
  description: 'Sekiro: Shadows Die Twice is an action-adventure video game developed by From Software and published by Activision.1The game was released on March 22, 2019 on the PlayStation 4, Xbox One, and Microsoft Windows platforms.2The game follows a shinobi from the Sengoku period, known as Lobo, who attempts revenge on a samurai clan that attacked and kidnapped his master.', 
  image: '/assets/img/Sekiro.jpeg', 
  },
  { title: 'Lies of P', 
  description: 'Lies of P is a soulslike video game developed by Round8 Studio and published by Neowiz Games, both South Korean companies. The game was released on September 19, 2023, for PlayStation 4, PlayStation 5, Windows, Xbox One, and Xbox Series X/S.1​2​3The game is loosely based on the 1883 Italian novel The Adventures of Pinocchio by writer Carlo Collodi.', 
  image: '/assets/img/LiesOfP.jpeg', 
  },
  { title: "Baldur's gate III", 
  description: "Baldur's Gate III is a role-playing video game developed by Larian Studios. It represents the third main installment in the Baldur's Gate series, based on the Dungeons & Dragons tabletop role-playing game system. On October 6, 2020, a preview version of the game was released in Early Access format for Windows, macOS, and the Stadia streaming service. The game was in Early Access until its official release on August 3, 2023; September 6 is the release date of the PlayStation 5 version. An Xbox Series X/S edition is currently in development. However, the Stadia version was canceled after the closure of that service.", 
  image: '/assets/img/Baldurs.jpeg', 
  },
  { title: 'Stellar Blade', 
  description: "Stellar Blade is an action-adventure video game developed by Shift Up and published by Sony Interactive Entertainment. The game's release was made for the PlayStation 5 console on April 26, 2024. The game received very positive reviews, highlighting its innovative gameplay, story, and graphics.", 
  image: '/assets/img/stellarBlade.jpeg', 
  },
];

---

<GamesLy title="Games Page">
    <section class="relative bg-cover bg-center bg-no-repeat bg-fixed" style="background-image: url('/assets/img/Biblioteca.jpg'); height: 45vh; min-height: 56vh;">
        <div class="flex flex-col items-center justify-center p-4 md:p-4 w-full h-full sm:h-90 bg-black bg-opacity-50">
            <div class="max-w-xl mx-auto text-center sm:mt-50 md-50 lg:mt-8">
                <h1 class="text-white font-bold text-2xl lg:text-3xl">Welcome to the videogames library</h1>
                <p class="text-white instructions mt-4 text-base lg:text-lg">
                    Here, you can not only explore and organize your favorite game collection but also connect with friends, discover new guides, and immerse yourself in gamer culture. Enjoy the convenience of having your game library at your fingertips while finding useful resources to enhance your gaming experience and share your passion with fellow enthusiasts like yourself. Welcome to your new gamer home at Vicio, where fun and community meet!
                </p>
            </div>
        </div>
    </section>       
    <section1 class="lg:mt-10">
        <div class="flex flex-col items center text-white text-xl font-bold text-center max-w-screen-md mx-auto lg:mb-6 lg:mt-6">"The video games are a powerful 
            form of entertainment and art that can have a profound impact on people's lives. For many, they are much more than just games; they can be a source of 
            comfort and escape, offering a welcome distraction from daily difficulties and providing a safe space to explore and enjoy. In addition, video games 
            have the unique ability to expand our perspectives by immersing us in new horizons, transporting us to fantastic and engaging worlds filled with fascinating 
            stories and exciting challenges. This immersive experience not only entertains but also educates, inspires, and connects people from diverse cultures and 
            backgrounds. Thus, video games stand out as a dynamic form of artistic expression that can positively influence the lives of those who enjoy them."
        </div>
    </section1>
    <section2 class="lg:mt-10">
        <div class="flex flex-col lg:flex-row items-center justify-center text-white text-lg text-center lg:text-center space-y-4 lg:space-y-0 lg:space-x-4">
            <div class="flex flex-col items-center w-full lg:w-auto">
                <h2 class="text-2xl font-bold text-gradient">The Most Famous Games at the moment</h2>
                <div class="max-w-screen-md mx-auto">
                    <p class="mt-2 text-center">Discover the games causing a sensation right now! From epic open-world adventures to intense competitive battles, 
                        our Top 5 Video Games of the Moment list will guide you through the most thrilling and popular titles you can't afford to miss.</p>
                </div>
            </div>
        </div>
        
        <div class="lg:mt-8 w-full">
            <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 w-full">
                {games.map((game, index) => (
                  <li class="text-white text-2xl flex flex-col items-center w-full">
                    <span class="mb-4">Top {index + 1}</span>
                    <div class="flex flex-col w-full bg-gray-800 p-4 rounded-lg items-center text-white text-lg text-center lg:text-center">
                      <Game {...game} class="w-full"/>
                    </div>
                  </li>
                ))}
            </ul>
        </div>
    </section2>
    <div class="flex flex-col lg:flex-row items-center text-white text-lg text-center lg:text-center space-y-4 lg:space-y-0 lg:space-x-4">
        <h1></h1>
    </div>
    <section3 class="lg:mb-10">
        <div class="text-white text-center lg:mt-6 lg:mb-2"><h2 class="text-2xl font-bold text-gradient">Principal Guides on the platform</h2></div>
        <div class="flex flex-col lg:flex-row items-center text-white text-lg text-center lg:text-center space-y-4 lg:mb-6 lg:ml-4 lg:mr-4 lg:space-y-0 lg:space-x-4">
            <Guide /><Guide /><Guide />
        </div>
    </section3>
    <section4>
        <div>

        </div>
    </section4>
</GuideLy>

<style>
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
        padding: 1.5rem;
        border-radius: 8px;
    }
    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }
    .instructions strong {
        color: rgb(var(--accent-light));
    }
    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>