---
import GamesLy from '../layouts/GamesLayout.astro';
import Guide from '../components/Guide.astro';
import Game from '../components/Games.astro';
import Index from './index.astro';

const games = [
  { 
    image: '/assets/img/DarkSoul.jpg', 
    title: 'Dark Souls Remaster', 
    description: 'Dark Souls is a fantasy role-playing game, originally released in 2011 and remastered in 2018 by FromSoftware Inc. It is well renowned and infamous for being difficult and unforgiving in nature.' 
  },
  { 
	title: 'Elden Ring', 
	description: 'Is an action role-playing video game developed by FromSoftware and published by Bandai Namco Entertainment. The game is the result of a collaboration between director and designer Hidetaka Miyazaki and fantasy novelist George R. R. Martin', 
	image: '/assets/img/EldenRIng.jpeg'
},
  { title: 'Sekiro', 
  description: 'Sekiro: Shadows Die Twice is an action-adventure video game developed by From Software and published by Activision.1The game was released on March 22, 2019 on the PlayStation 4, Xbox One, and Microsoft Windows platforms.2The game follows a shinobi from the Sengoku period, known as Lobo, who attempts revenge on a samurai clan that attacked and kidnapped his master.', 
  image: '/assets/img/Sekiro.jpeg', 
  },
];

---

<GamesLy title="Games Page">
    <section class="relative bg-cover bg-center bg-no-repeat bg-fixed" style="background-image: url('/assets/img/Biblioteca.jpg'); height: 40vh;">
        <div class="flex flex-col items-center justify-center p-4 md:p-8 w-full h-full">
            <div class="max-w-xl mx-auto text-center lg:mt-8">
                <h1 class="text-white font-bold text-2xl">Welcomes to the videogames library</h1>
                <p class="text-white instructions mt-4">Here, you can not only explore and organize your favorite game collection but also connect with 
                    friends, discover new guides, and immerse yourself in gamer culture. Enjoy the convenience of having your game library at your fingertips 
                    while finding useful resources to enhance your gaming experience and share your passion with fellow enthusiasts like yourself. Welcome to 
                    your new gamer home at Vicio, where fun and community meet!"
                </p>
            </div>
        </div>
    </section>    
    <section1 class="lg:mt-10">
        <div class="flex flex-col items center text-white text-xl font-bold text-center max-w-screen-md mx-auto lg:mb-6 lg:mt-6">"The video games are a powerful 
            form of entertainment and art that can have a profound impact on people's lives. For many, they are much more than just games; they can be a source of 
            comfort and escape, offering a welcome distraction from daily difficulties and providing a safe space to explore and enjoy. In addition, video games 
            have the unique ability to expand our perspectives by immersing us in new horizons, transporting us to fantastic and engaging worlds filled with fascinating 
            stories and exciting challenges. This immersive experience not only entertains but also educates, inspires, and connects people from diverse cultures and 
            backgrounds. Thus, video games stand out as a dynamic form of artistic expression that can positively influence the lives of those who enjoy them."
        </div>
        <div class="flex flex-col lg:flex-row items-center justify-center text-white text-lg text-center lg:text-center space-y-4 lg:space-y-0 lg:space-x-4">
            <div class="flex flex-col items-center w-full lg:w-auto">
                <h2 class="text-2xl font-bold text-gradient">The Most Famous Games at the moment</h2>
                <div class="max-w-screen-md mx-auto">
                    <p class="mt-2 text-center">Discover the games causing a sensation right now! From epic open-world adventures to intense competitive battles, 
                        our Top 5 Video Games of the Moment list will guide you through the most thrilling and popular titles you can't afford to miss.</p>
                </div>
            </div>
        </div>
        
<div class="lg:mt-8">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {games.map((game, index) => (
          <li key={index} class="text-white font-bold text-2xl flex flex-col items-center">
            <span class="mb-4">Top {index + 1}</span>
            <div class="flex flex-col w-full bg-gray-800 p-4 rounded-lg">
              <Game {...game} />
            </div>
          </li>
        ))}
      </ul>
</div>

    </div>
    </section1>
    <div class="flex flex-col lg:flex-row items-center text-white text-lg text-center lg:text-center space-y-4 lg:space-y-0 lg:space-x-4">
        <h1></h1>
    </div>
    <section2 class="lg:mb-10">
        <div class="text-white text-center lg:mt-6 lg:mb-2"><h2 class="text-2xl font-bold text-gradient">Principal Guides on the platform</h2></div>
        <div class="flex flex-col lg:flex-row items-center text-white text-lg text-center lg:text-center space-y-4 lg:mb-6 lg:ml-4 lg:mr-4 lg:space-y-0 lg:space-x-4">
            <Guide /><Guide /><Guide />
        </div>
    </section1>
    <section2>
        <div>

        </div>
    </section2>
</GuideLy>

<style>
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
        padding: 1.5rem;
        border-radius: 8px;
    }
    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }
    .instructions strong {
        color: rgb(var(--accent-light));
    }
    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>