<a
  href="#"
  class="h-30 relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8 mx-auto sm:w-1/2"
>
    <span
      class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
    ></span>
    <div class="flex items-stretch gap-4 h-50">
      <img
        src="/assets/img/DarkSoul.jpg"
        alt=""
        class="aspect-square w-20 rounded-lg object-cover"
      />
    
      <div class="">
        <h3 class="text-lg/tight font-medium text-white">Dark Souls Remaster</h3>
        <p class="mt-0.5 text-white text-base">
          Dark Souls is a fantasy role-playing game, originally released in 2011 and remastered in 2018 by FromSoftware Inc. 
          It is well renowned and infamous for being difficult and unforgiving in nature. 
        </p>
      </div>
    </div>
</a>